<h1>Listing usewrs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usewrs.each do |usewr| %>
  <tr>
    <td><%= usewr.name %></td>
    <td><%= usewr.email %></td>
    <td><%= link_to 'Show', usewr %></td>
    <td><%= link_to 'Edit', edit_usewr_path(usewr) %></td>
    <td><%= link_to 'Destroy', usewr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Usewr', new_usewr_path %>
